.page {
  font-variation-settings: "wght" var(--main-text-weight);
  background-image: var(--main-background-picture);
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--accent-color);
  background-attachment: fixed;
  background-size: cover;
  min-block-size: 100dvb;
  min-inline-size: 320px;
  font-size: 18px;
}

.page__all-content {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  inline-size: clamp(375px, calc((700 / 1440) * 100%), 800px);
}

.header {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 102px auto 100px;
  gap: 25px;
  inline-size: clamp(375px, calc((700 / 1440) * 100%), 800px);
}

.header__title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__decoration {
  font-family: var(--accent-font);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__main-title {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  padding-block-end: 25px;
}

.theme-menu__list {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  gap: 14px;
  inset-inline-start: 7px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  background-color: var(--accent-color);
  content: "";
  display: block;
  transform-origin: left;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  inline-size: 100%;
  block-size: 1px;
}

.theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.theme-menu__button {
  font-weight: var(--main-text-weight);
  position: relative;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 14px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow-moving 0.5s infinite alternate ease-in-out;
  inset-block-start: 0px;
  inset-inline-start: -18px;
}

.main__article {
  margin-block-end: 50px;
}

.main__article-title {
  font-variation-settings: "wght" var(--main-title-weight);
  border-block-end: 2px solid var(--accent-color);
  font-size: inherit;
  padding: 3px 10px;
}

.main__article-picture-container {
  position: relative;
}

.picture {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.filter__brightness {
  filter: brightness(50%);
}

.filter__blur {
  filter: blur(3px);
}

.filter__contrast {
  filter: contrast(165%);
}

.filter__saturate {
  filter: saturate(220%);
}

.filter__hue-rotate {
  filter: hue-rotate(75deg);
}

.filter__grayscale {
  filter: grayscale(100%);
}

.filter__multiple {
  filter: contrast(110%) sepia(5%);
}

.main__article-picture-label {
  font-family: var(--accent-font);
  color: var(--text-color);
  position: absolute;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  text-shadow: 0 0 1px var(--bg-color);
  font-size: 14px;
  opacity: 0.5;
}

@supports (
  (text-stroke: 1px var(--bg-color)) or
    (-webkit-text-stroke: 1px var(--bg-color))
) {
  .main__article-picture-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.main__article-text {
  border-block-start: 2px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  line-height: 1.16667;
  padding: 25px;
  gap: 27px;
}

.main__article-like-area {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  gap: 12px;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  outline: none;
}

.contour {
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon {
  display: block;
  fill: currentColor;
  width: 35px;
  height: 34px;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-growing 0.3s 0.1s alternate ease-in 1;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s 0.3s alternate ease-in 1;
}

.card__like-button {
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  inline-size: 130px;
  padding: 7px 15px;
  line-height: 0.9;
  block-size: 38px;
  font-size: 14px;
}

.button__text {
  color: var(--button-text-color);
  position: relative;
  mix-blend-mode: difference;
}

.button {
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
}

.button::before {
  background-color: var(--accent-color);
  content: "";
  position: absolute;
  display: block;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.footer {
  background-color: var(--bg-color);
  display: flex;
  margin: 0 auto 105px;
  inline-size: clamp(306px, calc((335 / 1440) * 100%), 335px);
}

.footer__floppy {
  color: var(--button-text-color);
  mix-blend-mode: difference;
  height: 21px;
  width: 21px;
}

.footer__floppy-dialog {
  height: 39px;
  width: 39px;
}

.footer__button-save {
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  line-height: 0.9;
  padding: 15px 0;
  font-size: 14px;
  gap: 8px;
}

.footer__dialog[open] {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  font-family: var(--accent-font);
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
  font-size: 14px;
  padding: 30px;
  gap: 30px;
}

.footer__dialog-text-area {
  align-items: center;
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
}

.footer__dialog-text {
  text-transform: uppercase;
  line-height: 1.5;
}

.footer__dialog-close-button {
  border: 2px solid var(--accent-color);
  text-align: center;
  inline-size: 100%;
  padding: 9px 17px;
}

.footer__dialog::backdrop {
  background-color: var(--backdrop-menu-color);
}

.footer__dialog-button-text {
  line-height: 0.9;
  text-transform: uppercase;
}

@media (width<=376px) {
  .page__all-content {
    inline-size: 100%;
  }

  .header__decoration {
    font-size: clamp(2.6875rem, 0.5057rem + 10.9091vw, 3.0625rem);
  }

  .header {
    gap: 20px;
  }

  .header__theme-menu {
    padding: 0px 0px 23px 22px;
  }

  .theme-menu__list {
    gap: 9px;
  }

  .main__article-like-area {
    gap: 6px;
  }

  .footer__button-save {
    flex-direction: column;
  }

  .footer__floppy {
    height: 28px;
    width: 28px;
  }

  .footer__dialog[open] {
    padding: 30px 40px;
  }
}

@media (width<=1440px) {
  .header {
    gap: 20px;
  }

  .header__theme-menu {
    padding: 0px 0px 23px 22px;
  }

  .theme-menu__list {
    gap: 9px;
  }

  .main__article-like-area {
    padding-top: 4px;
    gap: 6px;
  }
}
