:root.theme-light {
  --button-text-color: #fff;
  --bg-color: #fff;
  --heart-contour-color: #000;
  --accent-color: #000;
  --main-background-picture: repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);
  --main-title-weight: 700;
  --main-text-weight: 400;
}

:root.theme-dark {
  --button-text-color: #00cc14;
  --bg-color: #000;
  --heart-contour-color: #00cc14;
  --accent-color: #00cc14;
  --main-background-picture: repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #007f0c, #007f0c 0.01%, #004306 100%);
  --main-title-weight: 785;
  --main-text-weight: 485;
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-text-color: #00cc14;
    --bg-color: #000;
    --heart-contour-color: #00cc14;
    --accent-color: #00cc14;
    --main-background-picture: repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #007f0c, #007f0c 0.01%, #004306 100%);
    --main-title-weight: 785;
    --main-text-weight: 485;
  }
}
