:root,
::backdrop {
  --heart-sparks-color: #ff0000;
  --button-text-color: #fff;
  --bg-color: #fff;
  --heart-contour-color: #000;
  --accent-color: #000;
  --backdrop-menu-color: rgba(0, 0, 0, 0.75);
  --heart-core_body-init-color: transparent;
  --main-font: "Inter", Roboto, sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --main-title-weight: 700;
  --main-text-weight: 400;
  --floppy-size: 21;
  --main-background-picture: repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);
}
